<form action="/users" method="post">
  SIGN UP
  <label for="email">email</label>
    <input type="text" name="email" value='<%= @user.email %>' >
  <label for="password">password</label>
    <input type="password" name="password">
    <label for="password confirmation">password confirmation</label>
      <input type="password" name="password_confirmation">
  <input type="submit" value="Sign Up">
</form>
